@use './variables'

@mixin content-btn
    display: flex
    justify-content: center
    gap: 0.5rem

@mixin btn
    background-color: variables.$bg-color
    color: variables.$green
    border-radius: 1.56rem
    font-size: 1rem
    border-color: variables.$green
    cursor: pointer
    text-decoration: none
    padding: 0.6rem 0.9rem