@use './src/app/styles/variables'
@use './src/app/styles/mixins'

.container-technologies
    margin-left: 100px
    margin-right: 100px
    display: flex
    justify-content: center
    align-items: center
    gap: 80px

.technologies
    display: flex
    justify-content: center
    align-items: center
    gap: 15px
    transition: transform 0.5s ease

.technologies:hover
    transform: translateY(-10px)    

p
    font-size: 25px
    color: variables.$text-color

@media only screen and (max-width: 767px)
    .container-technologies
        margin-left: 0px
        margin-right: 0px
        display: flex
        flex-direction: column
        justify-content: center
        gap: 15px

    .technologies
        display: flex
        justify-content: center
        align-items: center
        gap: 15px
        margin-bottom: 20px

    p
        font-size: 25px
        color: variables.$text-color
