@use './src/app/styles/variables'
@use './src/app/styles/mixins'

.container-technologies
    margin: 3.87rem 2rem 1.87rem 2rem
    display: flex
    flex-direction: column
    justify-content: center

.technologies
    display: flex
    justify-content: center
    align-items: center
    gap: 15px
    margin-bottom: 20px

p
    font-size: 25px
    
    color: variables.$text-color

span
    border-bottom: 1px solid variables.$green