@use './src/app/styles/variables'
@use './src/app/styles/mixins'

@media only screen and (max-width: 767px)
    .container-image
        margin: 3.87rem 5rem 1.87rem 5rem
        display: flex
        justify-content: center

    .container-presentation
        margin: 0 5rem 0 5rem

    .helloWorld
        display: flex
        justify-content: center
        align-items: center
        gap: 10px
        margin-bottom: 25px
        color: variables.$green

    .text
        font-size: 20px
        color: variables.$text-color
        display: flex
        justify-content: center
        margin-bottom: 25px

    .buttons
        display: flex
        flex-direction: column
        justify-content: center
        gap: 10px

    a
        text-decoration: none
        color: variables.$text-color
        cursor: pointer
        transition: color 0.3s

    a:hover
        color: variables.$green
        transition: 0.3s

    .content-button-git-hub
        @include mixins.content-btn

    .button-gitHub
        @include mixins.btn

    .content-button-linkedin
        @include mixins.content-btn

    .button-linkedin
        @include mixins.btn
