@use './src/app/styles/variables'
@use './src/app/styles/mixins'

main
    margin: 100px 150px 100px 150px
    display: flex
    justify-content: space-between
    align-items: center
    gap: 80px

.image-foto
    border: 3px solid variables.$green
    border-radius: 100px
    padding: 3%

.helloWorld
    display: flex
    justify-content: center
    align-items: center
    gap: 10px
    margin-bottom: 25px
    color: variables.$green

.text-hello
    font-size: 40px

.text-profissao
    font-size: 40px
    color: variables.$text-color
    display: flex
    justify-content: center
    margin-bottom: 25px

.text
    font-size: 24px
    color: variables.$text-color
    display: flex
    justify-content: center
    margin-bottom: 40px

.buttons
    display: flex
    justify-content: center
    gap: 40px

.link-button
    text-decoration: none
    color: variables.$text-color
    cursor: pointer
    transition: color 0.3s

.link-button:hover
    color: variables.$green
    transition: 0.3s

p
    font-weight: 300

.content-button-git-hub
    @include mixins.content-btn

.button-gitHub
    @include mixins.btn

.content-button-linkedin
    @include mixins.content-btn

.button-linkedin
    @include mixins.btn

@media only screen and (max-width: 767px)
    main
        display: flex
        flex-direction: column
        margin: 2rem 1rem 2rem 1rem
        gap: 10px

    .container-image
        display: flex
        justify-content: center

    .image-perfil
        height: 250px
        width: 250px

    .image-foto
        height: 230px
        width: 230px
        border-radius: 65px

    .container-presentation
        margin: 0 1rem 0 1rem

    .helloWorld
        display: flex
        justify-content: center
        align-items: center
        gap: 10px
        margin-bottom: 15px
        color: variables.$green

    .text-hello
        font-size: 25px

    .text-profissao
        font-size: 20px
        color: variables.$text-color
        display: flex
        justify-content: center
        margin-bottom: 16px

    .text
        font-size: 20px
        color: variables.$text-color
        display: flex
        justify-content: center
        margin-bottom: 16px

    .buttons
        display: flex
        justify-content: center
        gap: 10px

    a
        text-decoration: none
        color: variables.$text-color
        cursor: pointer
        transition: color 0.3s

    a:hover
        color: variables.$green
        transition: 0.3s

    .content-button-git-hub
        @include mixins.content-btn

    .button-gitHub
        @include mixins.btn

    .content-button-linkedin
        @include mixins.content-btn

    .button-linkedin
        @include mixins.btn
